.advantage_w {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 0.3fr;
    grid-template-areas:
      "b1 b2 b2"
      "b1 b3 b4"
      "b5 b6 b7";
    gap: 60px;
    padding: 80px 0;
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
margin-top: 50px;
      grid-template-areas:
      "b2 b2"
      "b3 b3"
      "b4 b4"
      "b5 b5"
      "b6 b6"
      "b7 b7";
      gap: 30px;
      padding: 0;
      padding-bottom: 30px;
    }
    >div{
        display: flex;
        justify-content: center;
        // align-items: flex-end;
        flex-direction: column;
        gap: 0px;
        text-align: start;
        padding: 20px;
        @media (max-width: 768px) {
          border: 0;
          border-right: 0;
          position: relative;
          height: 100px;
          &:not(:first-child,:nth-child(2)){
            border-left: 3px solid black;
            padding: 0;
            padding-left: 10px;
            // &::before{
            //   content: "";
            //   position: absolute;
            //   left: -10px;
            //   top: -10px;
            //   width: 20px;
            //   height: 20px;
            //   background-color: black;
            //   border-radius: 20px;
            // }
          }
          
        }
    }
    .b_b{
        grid-area: b1;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: center;
        // margin: auto;
        @media (max-width: 768px) {
          display: none;
        }
        p{
            font-size: 500px;
        font-weight: 300;
        color: #D8C1AE;
        line-height: 0.7;
        @media (max-width: 768px) {
          font-size: 100px;
          display: none;

        }
        }
        
    }
    .b_r{
        grid-area: b2;
        
        // align-items: flex-end;
        justify-content: flex-end;
        p{
            font-size: 44px;
            font-weight: 700;
            color: #D8C1AE;
            display: flex;

            span{
              display: none;
            }
            @media (max-width: 768px) {
            display: block;
              
              span{
                display: inline;
              }
            }
        }
      }
      .b_t{
        grid-area: b3;
        border-right: 3px solid black;
        @media (max-width: 768px) {
          border-right: 0;
        }
      }
      .b_y{
        grid-area: b4;
      }
      .b_u{
        grid-area: b5;
        border-right: 3px solid black;
        @media (max-width: 768px) {
          border-right: 0;
        }

      }
      .b_i{
        grid-area: b6;
        border-right: 3px solid black;
        @media (max-width: 768px) {
          border-right: 0;
        }

      }
      .b_o{
        grid-area: b7;
      }
      
  }
  .title{
    font-size: 19px;
    font-weight: 700;
    height: 50px;
  }
  .description{
    font-size: 14px;
    // text-align: justify;
    font-weight: 300;
    height: 100px;
    width: 90%;
  }
 
