.callB_w {
  height: 440px;
  display: flex;
  padding: 80px;
  flex-direction: column;
  justify-content: space-between;
background-position: center;
background-size: cover;

  .des_tit {
    width: 75%;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    color: white;
  }

  .desc {
    font-size: 14px;
    color: white;
  }

  form {
    display: flex;
    align-items: center;
    gap: 30px;

    input {
      border: 0;
      border-bottom: 1px solid white;
      background-color: transparent;
      padding: 15px 10px;
      outline: 0;
      color: white;

      &::placeholder {
        color: #cacccd;
      }
    }

    button {
      color: white;
      background-color: black;
      padding: 15px 80px;
      border: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .callB_w {
    padding: 30px;
    .title {
        font-size: 30px;
        font-weight: 700;
        color: white;
        margin-bottom: 10px;
      }
    .des_tit {
      width: 100%;
    }
    form {
      flex-direction: column;
      input, button{
        width: 100% !important;
      }
      
    
    }
  }
}
@media screen and (max-width: 568px) {
    
}