.y_back_w{
    background-color: #D8C1AE;
    padding: 80px 0;
    .y_g_w{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
        @media (max-width: 768px) {
        grid-template-columns: 1fr;
        }
    }
    p{
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
    }
}