.select__container {
    margin-bottom: 58px;
    display: flex;
    justify-content: center;
    gap: 30px;
  
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  
    select {
      width: 226px;
      height: 60px;
      padding: 22px 24.5px 21px 4px;
      border: none;
      border-bottom: 1px solid #DBDBDB;
      outline: none;
      background-color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
  
      &::-ms-expand {
        display: none; /* Hide default arrow in Internet Explorer */
      }
  
      &::after {
        content: '▼'; /* Add custom arrow */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #DBDBDB;
      }
  
      option {
        background-color: white;
        color: black;
        padding: 10px;
      }
    }
  }