.wrapper {
  margin-top: 35px;
}

.c_card_wrapper {
  display: grid;
  gap: 30px;

  @media (max-width:768px) {
    gap: 10px;
  }
}

.grid_three {
  grid-template-columns: repeat(3, 1fr);
}

.grid_two {
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .grid_three {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }

  .grid__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .grid_two {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
  }

  .grid__cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}